*{
margin: 0;
padding: 0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;

}


body{
	background-color: #2d2c41;
}
ul{
	list-style-type: none;
}
a{
	color: #b63b4d;
}

/*Container styles starts here*/
.accordian{
	width: 100%;
	max-width: 360px;
	margin:60px auto 20px;
	background: #FFF;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}


.accordian .link{
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #4D4D4D;
	border-bottom: 1px solid #CCC;
	font-size: relative;
	font-weight: 700;
	position: relative;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;

}

.accordian li i{
	position: absolute;
	top:16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition:all 0.4 ease;
	-o-transition:all 0.4 ease;
	transition: all 0.4 ease;

}



.accordian li i.fa-chevron-down{
	right: 12px;
	left: auto;
	font-size: 16px;
}



.accordian li.open .link{
	color: #b63b4d;
}

.accordian li:last-child .link{
	margin-bottom: 0;
}


.accordian li.open i.fa-chevron-down{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
}




/*Container styles  ends here*/

/*sub-menu starts*/
.submenu{
	/*add at last moment*/
	display: none;
	background: #444359;
	font-size: 14px;

}

.submenu li{
	border-bottom: 1px solid #4b4a5e;
}
.submenu a{
	display: block;
	text-decoration: none;
	color: #d9d9d9;
	padding: 12px;
	padding-left: 42px;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	transition:all 0.25s ease;
}

.submenu a:hover{
	background: #b63b4d;
	color: #FFF;
}
/*sub-menu ends*/
