<div class="panel panel-default" ng-init="showEmployee()">
    <div class="panel-heading">
        <p class="panel-title">Add New Employee</p>
    </div>
    <div class="panel-body">
        <form ng-submit="updateEmployee()">
            <div>
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" ng-model="employee.name" value="employee.name">
            </div>
            <div>
                <label for="dept">Depatment:</label>
                <input type="text" class="form-control" id="dept" ng-model="employee.dept" value="employee.dept">
            </div>
            <div>
                <label for="area">Area:</label>
                <input type="text" class="form-control" id="area" ng-model="employee.area" value="employee.area">
            </div>
            <div>
                <label for="contact">Contact No:</label>
                <input type="text" class="form-control" id="contact" ng-model="employee.contact" value="employee.contact">
            </div>
            <div>
                <label for="status">Job Status:</label>
                <input type="text" class="form-control" id="status" ng-model="employee.status" value="employee.status">
            </div>
            <div>
                <label for="salary">Salary:</label>
                <input type="text" class="form-control" id="salary" ng-model="employee.salary" value="employee.salary">
            </div>
            <div>
                <button type="submit" class="btn btn-default">Update</button>
                <a href="/employees" class="btn btn-default">Cancel</a>
            </div>
        </form>
    </div>
</div>
