<div class="row">
    <div class="col-sm-8">

        <div class="starter-template">
            <h1>Bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones
                HTML document.</p>

        </div>
        <div class="starter-template">
            <h3> {{name}} </h3>
        </div>
    </div>
    <div class="col-sm-4 righ-side-panel">
        {{>carousel_partial}}
    </div>
</div>